.container1 {
    height: 368px;
    background: rgba(242, 242, 242, 0.65);   
}
.content1 {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 368px;
}

.content1 h1 {
    width: 700px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 140.69%;
    color: #30444E;
}
.content1 span {
    color: #30444E;
    font-weight: bold;
}
.container2 {
    width: 70%;
    height: 600px;
    margin: auto;
    margin-top: 50px;
}
.container2 h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 140.69%;
    color: #263238;
}
.container2 p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140.69%;
    text-align: justify;
}
.container2 img {
    margin-bottom:50px ;
}
.container3 {
    width: 100%;
    background: rgba(242, 242, 242, 0.65);  
    height: 500px;
    display: flex;
    align-content: center;
}
.content2 {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}
.content2 img {
    border-radius: 2%;
}

.content2d {
    width: 40%;
    margin-left: 100px;
    display: flexbox;
    justify-content: space-around;
}
.content21 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 30px;
}
.content21 img {
    height: 100%;
    margin-right: 30px;
}

.content22 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 50px;
}
.content22 img {
    height: 100%;
    margin-right: 30px;
}

.container4 {
    background-color: #EE4248;
    height: 500px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.cont4 {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.content3 {
    width: 30%;
}
.content3 p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140.69%;
    text-align: justify;
    color: #FFFFFF;
}
.content3 h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 140.69%;
    color: #FFFFFF;
}
.content3 img {
    margin-bottom: 30px;
}
.contact {
    text-align: center;
}
.container5 {
    align-items: center;
    align-content: center;
    display: flexbox;
    justify-content: center;
    margin-bottom: 50px;
}
.content4 {
    height: 550px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.divs4 {
    display: flexbox;
    justify-content: space-around;
}
.con4div {
    display: flex;
}
.con4div img {
    height: 70px;
    margin-right: 30px;
    margin-top: 15px;
}
.con4cont {
    display: flexbox;
    justify-content: flex-start;
    margin-bottom: 30px;
}
.con4cont h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 46px;
    color: #1F2E35;
    margin-bottom: 10px;
}
.con4cont p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #30444E
}