.all {
    bottom: 0;
    position: absolute;
    width: 100%;

}
.container {
    display : flex;
    justify-content: space-around;
    margin: auto;
    width: 80%;
}
.container1 ,.container2 ,.container3 {
    width: 100%;
}
.containerlist {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.containerlist li {
    width: 33.333%;
}
.footer {
    display: flex;
    background-color: #EE4248;
    color: white;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-top: 10px;
}
.container1, .container2 p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 00;
    font-size: 18px;
    line-height: 149.19%;
    color: #263238;

}