.container {
    height: 50px;
    background: #F9F9F9;
}
.container1 {
    position: relative;
    background: #F9F9F9;
    height: 447px;
    width: 100%;
    display: flexbox;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    align-content: center;
    margin-bottom: 50px;
}

.container1 h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 140.69%;
    text-align: center;
    color: #263238;
}
.container1 span {
    color: #263238;
    font-weight: bold;
}
.container1 p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140.69%;
    color: #455A64;
    width: 40%;
    margin: auto;
    margin-top: 50px;
}
.container2 {
    text-align: center;
    align-content: center;
}
.cards {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 100px;
}
.cards h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 140.69%;
    text-align: center;   
    color: #263238;
}
.container2 img {
    margin-bottom: 80px;
}
.card {
    width: 315px;
    height: 438px;
    left: 164px;
    top: 8px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flexbox;  
    justify-content: center;
    align-items: center; 
}
.card img {
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.card p {
    width :80%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140.69%;
    color: #263238;
    margin: auto;
}

.container2 h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 140.69%;    
    color: #263238;
}

@media (max-width : 1100px) {
    .container1 {
        height: 100%;
    }
    .container1 h1 {
        width: 95%;
        margin: auto;
        margin-bottom: 20px;
        height: 100%;
    }
    .container1 p {
        width: 95%;
        margin: auto;
    }
    .cards {
        display: flexbox;
        flex-wrap: wrap;
    }
    .card {
        margin: 10px;
    }
}